<!-- file importer html tag -->
<input #importer type="file" accept="application/json" class="hidden" />
<!-- file exporter html tag -->
<a #exporter class="hidden"></a>

<!-- loading -->
<div
  class="flex flex-col items-center w-screen h-screen"
  style="
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-position: center;
  "
  *ngIf="false"
>
  <img
    src="assets/atlas.webp"
    class="h-fit w-80 mt-4"
    style="mix-blend-mode: multiply"
  />
  <p
    class="text-center text-9xl font-bold text-zinc-950 select-none"
    style="text-shadow: 3px 3px 5px #22c55e, -4px -4px 10px #fbbf24"
  >
    Project Atlas
  </p>
  <textarea
    readonly
    class="mt-12 bg-black outline-none w-[1000px] text-green-500 p-4 resize-none border-2 border-green-500 shadow-md shadow-green-700"
    rows="6"
    >{{ loadingText }} </textarea
  >

  <p
    class="text-sm mt-4 text-green-950 font-bold select-none"
    style="text-shadow: 2px 2px 3px #fbbf24"
  >
    Copyright 2024 &copy; All rights reserved.
  </p>
</div>

<!-- main page component -->
<div class="relative">
  <div
    id="map"
    #map
    class="w-screen h-screen z-0"
    [style.cursor]="
      guideLineStart
        ? 'pointer'
        : selectedTool === 'none'
        ? 'grab'
        : 'crosshair'
    "
  ></div>

  <!-- controllers -->
  <div
    class="absolute bottom-4 left-1/2 -translate-x-1/2 bg-white rounded-md w-fit h-12 shadow-md shadow-gray-400 flex gap-1 items-center px-1"
  >
    <div
      class="h-10 w-10 rounded-md flex justify-center items-center hover:shadow-md duration-100"
      *ngFor="let tool of tools; let i = index"
      (click)="selectedTool = selectedTool === tool.name ? 'none' : tool.name"
      [class.bg-gray-100]="selectedTool === tool.name"
      [class.border-2]="selectedTool === tool.name"
      [class.border-gray-400]="selectedTool === tool.name"
      [class.bg-gray-200]="selectedTool !== tool.name"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        class="w-6 h-6"
        [class.fill-gray-500]="selectedTool === tool.name"
        [class.fill-gray-800]="selectedTool !== tool.name"
      >
        <path [attr.d]="tool.icon" />
      </svg>
    </div>
  </div>

  <!-- hierarchy -->
  <div
    class="absolute right-4 top-4 bg-white rounded-md w-72 h-fit max-h-[490px] overflow-y-scroll shadow-md shadow-gray-400"
  >
    <p class="font-bold text-lg text-center border-b text-gray-500">
      Hierarchy
    </p>

    <!-- items -->
    <div class="">
      <div
        *ngFor="let feature of geoJSON.features"
        class="flex items-center justify-between even:border-y first:border-y-0 last:border-y-0 px-2 py-1 hover:bg-gray-300 group"
        #isEditable
      >
        <!-- controllers -->
        <div class="flex gap-2 justify-start items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            class="group-hover:fill-gray-700 fill-white cursor-pointer rounded-md group-hover:bg-gray-100 p-[1px]"
            (click)="deleteShape(feature.properties.name)"
          >
            <path
              d="m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            class="group-hover:fill-gray-700 fill-white cursor-pointer rounded-md group-hover:bg-gray-100 p-[1px]"
            (click)="
              isEditable.ariaValueText =
                isEditable.ariaValueText === 'true' ? 'false' : 'true'
            "
          >
            <path
              d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
            />
          </svg>
        </div>

        <!-- name & icon -->
        <div class="flex gap-2 justify-end items-center">
          <input
            class="text-gray-700 outline-none w-[180px] rounded-md px-1 group-hover:read-only:bg-gray-300"
            [value]="feature.properties.name"
            (change)="rename($event, feature.properties.name)"
            [readOnly]="isEditable.ariaValueText !== 'true'"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            class="w-5 h-5 fill-gray-600"
          >
            <path [attr.d]="feature.properties.icon" />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <!-- importer/exporter -->
  <div class="absolute bottom-4 left-4 rounded-md bg-white">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      class="fill-gray-700 hover:bg-gray-300 p-1 h-8 w-8 rounded-t-md"
      (click)="export()"
    >
      <path
        d="M240-40q-33 0-56.5-23.5T160-120v-440q0-33 23.5-56.5T240-640h120v80H240v440h480v-440H600v-80h120q33 0 56.5 23.5T800-560v440q0 33-23.5 56.5T720-40H240Zm200-280v-447l-64 64-56-57 160-160 160 160-56 57-64-64v447h-80Z"
      />
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      class="fill-gray-700 border-t-2 hover:bg-gray-300 p-1 h-8 w-8 rounded-b-md"
      (click)="import()"
    >
      <path
        d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"
      />
    </svg>
  </div>
</div>
